.App {
    user-select: none;
}


.App-header {
  display: flex;
  font-size: calc(10px + 2vmin);
  align-items: center;
  width: 100vw;
  height: 20vmin;
  line-height: 20vmin;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  width: 20vmin;
  pointer-events: none;
}

header p {
    color: #000;
    display: inline-block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
